DEVELOP=true
PORT=3000
AMBIENTE=local
DATABASE_PORT=5432
DATABASE_HOST='localhost'
DATABASE_USER='postgres'
DATABASE_PASS='postgres'
DATABASE_TYPE='postgres'
DATABASE_NAME='postgres'
FILE_URL='files'
KEY_JWT=KEY_JWT
FOLDER_PUBLIC_URL='public'
STORAGE_PATH='C:/ruta/absoluta/a/la/carpeta/de/archivos'
CANTIDAD_REGISTROS_BULK=1000
COMANDO_LIBREOFFICE='"C:\\Program Files\\LibreOffice\\program\\soffice.exe"'